<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="bootstrap.php"
        colors="true"
        verbose="true"
        cacheResult="false">
    <testsuites>
        <testsuite name="jdg-helpers">
            <directory>./..</directory>
        </testsuite>
    </testsuites>
</phpunit>